{%- from "common/vars.jinja" import
    osfullname, oscodename
with context -%}

{%- set hostmap = {
  'thinkpad-e495': {
    'pkg_name': 'docker-ce',
    'version': '5:24.0.7-1~debian.12~' + oscodename
  },
  'thinkpad-t14': {
    'pkg_name': 'docker-ce',
    'version': '5:24.0.7-1~debian.12~' + oscodename
  }
} -%}
