{%- from "common/vars.jinja" import
    osfullname, oscodename
with context -%}

{%- set tplroot = tpldir.split('/')[0] -%}
{%- from tplroot ~ "/osmap.jinja" import osmap -%}
{%- from tplroot ~ "/osfingermap.jinja" import osfingermap -%}

{%- set docker = salt['grains.filter_by'](
  {
    'Debian': {
      'pkg_name': 'docker-ce',
      'version': '5:19.03.15~3-0~' + osfullname + '-' + oscodename
    },
    'RedHat': {}
  },
  grain='os_family',
  merge=salt['grains.filter_by'](osmap, grain='os',
    merge=salt['grains.filter_by'](osfingermap, grain='osfinger',
      merge=salt['pillar.get']('docker:lookup:docker')
    )
  )
) -%}
