{%- from "common/vars.jinja" import
    os, oscodename, osrelease, osmajorrelease
with context -%}

{%- set tplroot = tpldir.split('/')[0] -%}
{%- from tplroot ~ "/hostmap.jinja" import hostmap -%}
{%- from tplroot ~ "/k8smap.jinja" import k8smap -%}
{%- from tplroot ~ "/osmap.jinja" import osmap -%}
{%- from tplroot ~ "/osfingermap.jinja" import osfingermap -%}

{%- set docker = salt['grains.filter_by'](
  {
    'Debian': {
      'pkg_name': 'docker-ce',
      'version': '5:27.3.1-1~' + os + '.' + osrelease + '~' + oscodename
    },
    'RedHat': {
      'pkg_name': 'docker-ce',
      'version': '3:26.1.3-1.el' + osmajorrelease
    }
  },
  grain='os_family',
  merge=salt['grains.filter_by'](k8smap, grain='kubernetes:clustername',
    merge=salt['grains.filter_by'](osmap, grain='os',
      merge=salt['grains.filter_by'](osfingermap, grain='osfinger',
        merge=salt['grains.filter_by'](hostmap, grain='host',
          merge=salt['pillar.get']('docker:lookup:docker')
        )
      )
    )
  )
) -%}
