{%- from "common/vars.jinja" import
    osfullname, oscodename
with context -%}

{%- set osfingermap = {
  'Debian-11': {
    'pkg_name': 'docker-ce',
    'version': '5:20.10.22~3-0~' + osfullname + '-' + oscodename
  },
  'Red Hat Enterprise Linux Server-7': {
    'pkg_name': 'docker',
    'version': '2:1.13.1-209.git7d71120.el7_9'
  },
  'CentOS Linux-7': {
    'pkg_name': 'docker',
    'version': '2:1.13.1-209.git7d71120.el7.centos'
  }
} -%}
