{%- set tplroot = tpldir.split('/')[0] -%}
{%- from tplroot ~ "/map.jinja" import docker with context -%}

{%- set docker_version_pkg = docker.version -%}
{%- set docker_version = salt['helpers.parse_pkgver'](docker_version_pkg) -%}
