{%- from tplroot ~ "/map.jinja" import docker with context -%}
{%- from "common/vars.jinja" import
    node_roles
-%}
{%- set network = 'flannel' if (node_roles|select('equalto', 'kube-cluster-member')|list) else (docker.get('network')|default('bridge')) -%}

{%- if network == 'flannel' -%}
[Unit]
After=flannel.service
{%- endif %}

[Service]
ExecStart=
ExecStart=/usr/bin/dockerd -H fd:// --containerd=/run/containerd/containerd.sock \
    --storage-driver=overlay2 \
    --ip-forward=false \
    --ip-masq=true \
    --iptables=true
RestartSec=10
Restart=on-failure
