{%- from "common/vars.jinja" import
    osfullname, oscodename
with context -%}

{%- set hostmap = {
  'thinkpad-e495': {
    'pkg_name': 'containerd.io',
    'version': '1.6.21-1'
  },
  'thinkpad-t14': {
    'pkg_name': 'containerd.io',
    'version': '1.6.21-1'
  }
} -%}
